/**/node_modules/
/**/.idea/workspace.xml
/**/.idea/
/**/packages/
/**/bin/
/**/lib/
/**/obj/
/**/.vs/
/**/TestResults/
/**/Temp/
/**/project.lock.json
/**/*.user
/tools/*
!tools/packages.config
/publish/*
/reports/*
/logs/*
/TestResult.xml
/Scripts.zip
/**/PublishProfiles/
*.pubxml
